body,p,ul,ol,dl,dd,dt,li,h1,h2,h3,h4,h5,h6,form,input{
margin:0;
padding:0;
font-family:Arail,"Î¢ÈíÑÅºÚ";
font-size:12px;
list-style:none;
}
img{
border:none;
}
a{
text-decoration:none;
color:#ccc;
}
/********************************************************************************************/
.header{
   width:100%;
   height:40px;
   background-color:#333;
}
.header-{
  width:1228px;
  height:40px;
  margin:0 auto;
}
.header-left{
  width:600px;
  height:40px;
  float:left;
  text-align:center;
  line-height:40px;
}
.header-left p{
  float:left;
  margin-right:8px;
}
.header-word:hover{color:white;}
.header-right{
  width:280px;
  height:40px;
  float:right;
  text-align:center;
  line-height:40px;
}
.bg{
  width:120px;
  height:40px;
  background-color:#424242;
  float:right;
  background-image:url(../image/gouwuche1.png);
  background-position:left;
  background-repeat:no-repeat;
  padding-left:10px;
}
.bg:hover{
  background-image:url(../image/gouwuche2.png);
  background-color:white;
  color:#ff6700;
}
.header-right p{
  float:right;
  margin-left:8px;
}
.shu{color:#5c6266;}
/********************************************************************************************/
.nav{
  width:100%;
  height:100px;
  background-color:#fff;
}
.nav-{
  width:1228px;
  height:100px;
  margin:0 auto;
}
.nav-left{
  width:933px;
  height:100px;
  float:left;
  text-align:center;
  line-height:100px;
}
.picture{
  width:55px;
  height:55px;
  float:left;
  margin-right:194px;
  margin-top:22px;
}
.nav-left p{
  float:left;
  margin-right:36px;
  font-size:16px;
  display:inline;
}
.nav-word{color:#333333;}
.nav-word:hover{color:#ff6700;}
.nav--right{
  width:290px;
  height:50px;
  border:1px solid #ccc;
  margin-top:25px;
  float:right;
}
.nav-first{
  width:50px;
  height:50px;
  background-image:url(../image/sousuo.png);
  background-repeat:no-repeat;
  background-position:10px 10px;
  float:right;
}
.nav--right:hover{
  border-color:#8c8a8a;
}
.nav-first:hover{
  background:#ff6700;
  border-color:#8c8a8a;
  background-image:url(../image/sousuo2.png);
  background-position:7px 7px;
}
.nav-right1{
  width:238px;
  height:50px;
  border-right:1px solid #ccc;
  float:right;
}
.nav-right1:hover{border-color:#8c8a8a;}
.shouji{
  width:66px;
  height:18px;
  background-color:#d8d6d6;
  float:right;
  margin-right:10px;
  margin-top:16px;
  text-align:center;
  line-height:18px;

}
.wang{float:left;
margin-top:16px;}
.shouhuan{
  width:34px;
  height:18px;
  background-color:#d8d6d6;
  float:right;
  margin-right:6px;
  margin-top:16px;
  text-align:center;
  line-height:18px;
}
.shouhuan:hover{
  background:#ff6700;
  color:white;
}
.shouji:hover{
  background:#ff6700;
  color:white;
}
/*************************************************************************************************/
.banner{
  width:100%;
  height:460px;
  background-color:#fff;
}
.banner-{
  width:1226px;
  height:460px;
  margin:0 auto;
  position:relative;
}
.banner-left{
  position:relative;
  width:234px;
  height:432px;
  background:rgba(0,0,0,0.8);
  filter:alpha(opacity=80);
  position:absolute;
  left:0;
  top:0;
  float:left;
  z-index:4;
}
.banner-left{
  padding-top:28px;
}
.banner-left li{
  width:214px;
  height:42px;
  color:#ffffff;
  line-height:42px;
  font-size:16px;
  padding-left:20px;
}
.banner-left li:hover{
  background:#ff6700;
}
.banner-right{
  width:90px;
  height:10px;
  position:absolute;
  right:35px;
  bottom:25px;
}
.banner-right a{
  width:6px;
  height:6px;
  border-radius:50%;
  border:2px solid #a9afb4;
  background:#8a9299;
  float:right;
  margin-left:8px;
}
.last{margin-left:0;}
.banner-right a:hover{
  border:2px solid #8a9299;
  background:#fff;
}
/*************************************************************************************************************/
.subnav{
  width:100%;
  height:228px;
  background-color:#fff;
}
.subnav-{
  width:1228px;
  height:228px;
  background-color:white;
  margin:0 auto;
}
.subnav-one{
  width:234px;
  height:170px;
  background-color:#5f5750;
  float:left;
  margin:14px 15px 44px 0px;
  position:relative;
}
.subnav-box{
  width:216px;
  height:152px;
  position:absolute;
  top:9px;
  left:9px;
}
.subnav-box1{
  width:65px;
  height:20px;
  float:left;
  color:#cdcdcb;
}
#subnav-box1:hover{color:white;}
.subnav-shu{
  width:1px;
  height:70px;
  float:left;
  margin-left:4px;
  margin-right:4px;
  background:#665e57;
}
.subnav-heng{
  width:65px;
  height:1px;
  float:left;
  margin-top:5px;
  margin-bottom:6px;
  background:#665e57;
}
.heng2{
  margin-left:10px;
  margin-right:10px;
}
.box1{
  background-image:url(../image/dianxin1.png);
  background-repeat:no-repeat;
  background-position:15px 0;
  text-align:center;
  padding-top:50px;
}
.box1:hover{background-image:url(../image/dianxin2.png);}
.box2{
  background-image:url(../image/tuangou1.png);
  background-repeat:no-repeat;
  background-position:15px 0;
  text-align:center;
  padding-top:50px;
}
.box2:hover{background-image:url(../image/tuangou2.png);}
.box3{
  background-image:url(../image/guanfan1.png);
  background-repeat:no-repeat;
  background-position:15px 0;
  text-align:center;
  padding-top:50px;
}
.box3:hover{background-image:url(../image/guanfan2.png);}
.box4{
  background-image:url(../image/yidong1.png);
  background-repeat:no-repeat;
  background-position:15px 0;
  text-align:center;
  padding-top:50px;
}
.box4:hover{background-image:url(../image/yidong2.png);}
.box5{
  background-image:url(../image/huafei1.png);
  background-repeat:no-repeat;
  background-position:15px 0;
  text-align:center;
  padding-top:50px;
}
.box5:hover{background-image:url(../image/huafei2.png);}
.box6{
  background-image:url(../image/fangwei1.png);
  background-repeat:no-repeat;
  background-position:15px 0;
  text-align:center;
  padding-top:50px;
}
.box6:hover{background-image:url(../image/fangwei2.png);}
.subnav-two{
  width:316px;
  height:170px;
  
  float:left;
  margin:14px 15px 44px 0px;
}
.subnav-three{
  width:316px;
  height:170px;
  
  float:left;
  margin:14px 16px 44px 0px;
}
.subnav-four{
  width:316px;
  height:170px;
 
  float:left;
  margin:14px 0px 44px 0px;
}
/*******************************************************************************/
.star{
  width:100%;
  height:420px;
  background:#ffffff;
}
.star-{
  width:1228px;
  height:420px;
  margin:0 auto;
}
.star-top{
  width:1228px;
  height:40px;
}
.star-top1{
  font-size:22px;
  font-weight:200;
  float:left;
}
.star-top2{
  width:36px;
  height:24px;
  border:1px solid #ccc;
  float:right;
}
.star-top3{
  width:36px;
  height:24px;
  border:1px solid #ccc;
  float:right;
}
.st3{
  border-right:none;
}
.star-all{
  width:1228px;
  height:340px;
  margin-bottom:40px;
}
.star-all li{
  width:234px;
  height:340px;
  float:left;
  margin-right:14.5px;
  background-color:#fafafa;
  }
  #star1{border-top:1px solid #ffac13;}
  #star2{border-top:1px solid #83c44e;}
  #star3{border-top:1px solid #2196f3;}
  #star4{border-top:1px solid #e53935;}
  #star5{
    border-top:1px solid #00c0a5;
    margin-right:0;
}
 .star1-image{
   margin-top:40px;
   margin-left:37px;
 }
.star1-word{
  width:170px;
  height:72px;
  margin-left:30px;
  text-align:center;
}
.word-1{
  margin-bottom:10px;
  color:#212121;
}
.word-2{
  margin-bottom:20px;
  color:#b0b0b0;
}
.word-3{color:#ff6709;}
#word{color:#1a1a1a;}


/****************************************************************************************/
.zhineng{
  width:100%;
  height:768px;
  background-color:#f5f5f5;
}
.zhineng-{
  width:1228px;
  height:698px;
  margin:0 auto;
  padding-top:70px;
}
.zhineng-top{
  width:1228px;
  height:20px;
  margin-bottom:20px;
}
.zhineng-left{
  float:left;
  font-size:22px;
  font-weight:200;
}
.zhineng-right{
  float:right;
  font-size:14px;
  background-image:url(../image/more1.png);
  background-repeat:no-repeat;
  background-position:right;
}
.zhineng-right:hover{
  background-image:url(../image/more2.png);
  background-repeat:no-repeat;
  background-position:right;
}
#zhineng-right{
  margin-right:30px;
  color:#333333;
}
#zhineng-right:hover{
  color:#ffac13;
}
.zhineng-picture{
  width:235px;
  height:614px;
  float:left;
  margin:0px 15px 40px 0px;
}
.zhineng-all{
  width:978px;
  height:612px;
  float:left;
  margin-bottom:40px;
}
.zhineng-all li{
  width:236px;
  height:280px;
  float:left;
  margin-right:11px;
  text-align:center;
  padding-top:20px;
  background-color:#fefefe;
  }
  #zhineng1,#zhineng2,#zhineng3,#zhineng4{
    margin-bottom:15px;
  }
  #zhineng4,#zhineng8{
    margin-right:0px;
  }
  .free{
    width:64px;
	height:20px;
	background-color:#ffac13;
	color:#fff;
	position:absolute;
	left:86px;
	top:0px;
  }
  #zhineng2{
	position:relative;
  }
   #zhineng5{
	position:relative;
  }
/************************************************************************************************/
.dapei{
  width:100%;
  height:694px;
  background-color:#f5f5f5;
}
.dapei-{
  width:1228px;
  height:694px;
  margin:0 auto;
}
.dapei-top{
  width:1228px;
  height:30px;
  text-align:center;
  line-height:30px;
  margin-bottom:20px;
}
.dapei-top1{
  float:left;
  font-size:22px;
  font-weight:200;
}
.dt2{
  float:right;
  width:90px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.dapei-top2{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.dapei-top2:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.dt3{
  float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.dapei-top3{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.dapei-top3:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.dt4{
   float:right;
  width:66px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.dapei-top4{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.dapei-top4:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.dt5{
  float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.dapei-top5{
  border-bottom:2px solid #ff6700; 
  color:#ff6700; 
}
.dapei-middle{
  width:1228px;
  height:300px;
}
.dapei-middle li{
  text-align:center;
}
.dapei-middle a{
  display:block;
}
.dapei-middle2,.dapei-middle3,.dapei-middle4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
  position:relative;
}
.dapei-middle2{
  padding-top:20px;
  height:280px;
}
.free{
  position:absolute;
  left:86px;
  top:0px;
}
.new{
  width:64px;
  height:20px;
  background-color:#83c44e;
  color:#fff;
  line-height:20px;
  position:absolute;
  left:86px;
  top:0px;
}
.dapei-middle-top{
  font-size:14px;
  color:black;
}
.dapei-middle-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.dapei-middle1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.dapei-middle5{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  background:#fff;
}
.dapei-bottom{
  width:1228px;
  height:300px;
  margin-top:14px;
}
.dapei-bottom li{
  text-align:center;
}
.dapei-bottom a{
  display:block;
}
.dapei-bottom2,.dapei-bottom3,.dapei-bottom4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
  position:relative;
}
.dapei-bottom2{
  padding-top:20px;
  height:280px;
}
.zhe{
  width:64px;
  height:20px;
  background-color:#eb2d0e;
  color:#fff;
  line-height:20px;
   position:absolute;
  left:86px;
  top:0px;
}
.dapei-bottom-top{
  font-size:14px;
  color:black;
}
.dapei-bottom-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.dapei-bottom1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.dapei-bottom5{
  width:233px;
  height:300px;
  float:left;
}
.dapei-bottom-bottom{color:#b0b0b0;}
.dapei-middle-bottom{color:#b0b0b0;}
.db5-top{
  height:144px;
  background:#fff;
}
.db5-bottom{
  height:144px;
  background:#fff;
  margin-top:12px;
}
.dbt-left{
  float:left;
  margin-top:45px;
  margin-left:30px;
  margin-right:25px;
  display:inline;
}
.dbt-right{
  float:left;
  margin-top:35px;
}
.dbtl-top{
  font-size:14px;
  color:black;
  margin-bottom:15px;
}
.dbtl-bottom{
  font-size:14px;
  color:#ff6700;
  margin-right:60px;
}
.dbb-left{
  float:left;
  margin-top:45px;
  margin-left:30px;
  margin-right:65px;
  display:inline;
}
.dbbl-top{
  font-size:16px;
  color:black;
  margin-bottom:5px;
}
.dbbl-bottom{
  font-size:14px;
  color:#b6b6b6;
  margin-right:30px;
}
.dbb-right{
  float:left;
  margin-top:45px;
}
/***************************************************************************************************/
.peijian{
  width:100%;
  height:694px;
  background-color:#f5f5f5;
}
.peijian-{
  width:1228px;
  height:694px;
  margin:0 auto;
}
.peijian-top{
  width:1228px;
  height:30px;
  text-align:center;
  line-height:30px;
  margin-bottom:20px;
}
.peijian-top1{
  float:left;
  font-size:22px;
  font-weight:200;
}
.pt2{
   float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.peijian-top2{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.peijian-top2:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.pt3{
   float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.peijian-top3{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.peijian-top3:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.pt4{
   float:right;
  width:60px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.peijian-top4{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.pt5{
   float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.peijian-top5{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.peijian-top4:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.peijian-top5:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.pt6{
  float:right;
  width:66px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.peijian-top6{
  border-bottom:2px solid #ff6700; 
  color:#ff6700; 
}
.peijian-middle{
  width:1228px;
  height:300px;
}
.peijian-middle li{
  text-align:center;
}
.peijian-middle a{
  display:block;
}
.peijian-middle2,.peijian-middle3,.peijian-middle4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
}
.peijian-middle-top{
  font-size:14px;
  color:black;
}
.peijian-middle-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.peijian-middle1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.peijian-middle5{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  background:#fff;
}
.peijian-bottom{
  width:1228px;
  height:300px;
  margin-top:14px;
}
.peijian-bottom li{
  text-align:center;
}
.peijian-bottom a{
  display:block;
}
.peijian-bottom2,.peijian-bottom3,.peijian-bottom4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
}
.peijian-bottom-top{
  font-size:14px;
  color:black;
}
.peijian-bottom-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.peijian-bottom1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.peijian-bottom5{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
}
.peijian-middle-bottom{color:#b0b0b0;}
.peijian-bottom-bottom{color:#b0b0b0;}
.pj5-top{
  height:144px;
  background:#fff;
}
.pj5-bottom{
  height:144px;
  background:#fff;
  margin-top:12px;
}
.pjt-left{
  float:left;
  margin-top:45px;
  margin-left:30px;
  margin-right:20px;
  display:inline;
}
.pjt-right{
  float:left;
  margin-top:35px;
}
.pjt-tupian{
  width:80px;
}
.pjtl-top{
  font-size:14px;
  color:black;
  margin-bottom:15px;
  margin-right:25px;
}
.pjtl-bottom{
  font-size:14px;
  color:#ff6700;
  margin-right:60px;
}
.pjb-left{
  float:left;
  margin-top:45px;
  margin-left:30px;
  margin-right:65px;
  display:inline;
}
.pjbl-top{
  font-size:16px;
  color:black;
  margin-bottom:5px;
}
.pjbl-bottom{
  font-size:14px;
  color:#b6b6b6;
  margin-right:10px;
}
.pjb-right{
  float:left;
  margin-top:45px;
}
/*******************************************************************************************************/
.zhoubian{
  width:100%;
  height:694px;
  background-color:#f5f5f5;
}
.zhoubian-{
  width:1228px;
  height:694px;
  margin:0 auto;
}
.zhoubian-top{
  width:1228px;
  height:30px;
  text-align:center;
  line-height:30px;
  margin-bottom:20px;
}
.zhoubian-top1{
  float:left;
  font-size:22px;
  font-weight:200;
}
.zt2{
   float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.zhoubian-top2{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.zhoubian-top2:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.zt3{
  float:right;
  width:66px;
  height:26px;
   font-size:16px;
  margin-left:30px;
}
.zhoubian-top3{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.zhoubian-top3:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.zt4{
  float:right;
  width:34px;
  height:26px;
   font-size:16px;
  margin-left:30px;
}
.zhoubian-top4{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.zhoubian-top4:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.zt6{
  float:right;
  width:34px;
  height:26px;
  font-size:16px;
  margin-left:30px;
}
.zhoubian-top6{
  border-bottom:2px solid #f5f5f5;
  color:#333;
}
.zhoubian-top6:hover{
  color:#ff6700; 
  border-color:#ff6700;
}
.zt5{
  float:right;
  width:34px;
  height:26px;
   font-size:16px;
  margin-left:30px;
}
.zhoubian-top5{
  border-bottom:2px solid #ff6700; 
  color:#ff6700; 
}
.zhoubian-middle{
  width:1228px;
  height:300px;
}
.zhoubian-middle li{
  text-align:center;
}
.zhoubian-middle a{
  display:block;
}
.zhoubian-middle2,.zhoubian-middle3,.zhoubian-middle4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
}
.zhoubian-middle2,.zhoubian-middle3{
  position:relative;
  padding-top:20px;
  height:280px;
}
.new{
  width:64px;
  height:20px;
  background-color:#83c44e;
  color:#fff;
  line-height:20px;
  position:absolute;
  left:86px;
  top:0px;
}
.zhoubian-middle-top{
  font-size:14px;
  color:black;
}
.zhoubian-middle-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.zhoubian-middle1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.zhoubian-middle5{
  width:233px;
  height:280px;
  float:left;
  text-align:center;
  background:#fff;
  position:relative;
  padding-top:20px;
}
.zhoubian-bottom{
  width:1228px;
  height:300px;
  margin-top:14px;
}
.zhoubian-bottom li{
  text-align:center;
}
.zhoubian-bottom a{
  display:block;
}
.zhoubian-bottom2,.zhoubian-bottom3,.zhoubian-bottom4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
  position:relative;
}
.zhoubian-bottom-top{
  font-size:14px;
  color:black;
}
.rmb{color:#b0b0b0;}
.zhoubian-middle-bottom{color:#b0b0b0;}
.zhoubian-bottom-bottom{color:#b0b0b0;}
.zhoubian-bottom-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.zhoubian-bottom1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.zhoubian-bottom5{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
}
.weiyi{
  margin-top:20px;
  margin-bottom:20px;
}
.zb5-top{
  height:144px;
  background:#fff;
}
.zb5-bottom{
  height:144px;
  background:#fff;
  margin-top:12px;
}
.zbt-left{
  float:left;
  margin-top:45px;
  margin-left:30px;
  margin-right:20px;
  display:inline;
}
.zbt-right{
  float:left;
  margin-top:35px;
}
.zbt-tupian{
  width:80px;
}
.zbtl-top{
  font-size:14px;
  color:black;
  margin-bottom:15px;
  margin-right:25px;
}
.zbtl-bottom{
  font-size:14px;
  color:#ff6700;
  margin-right:60px;
}
.zbb-left{
  float:left;
  margin-top:45px;
  margin-left:30px;
  margin-right:65px;
  display:inline;
}
.zbbl-top{
  font-size:16px;
  color:black;
  margin-bottom:5px;
}
.zbbl-bottom{
  font-size:14px;
  color:#b6b6b6;
  margin-right:30px;
}
.zbb-right{
  float:left;
  margin-top:45px;
}
/***********************************************************************************************************/
.tuijie{
  width:100%;
  height:380px;
  background-color:#f5f5f5;
}
.tuijie-{
  width:1228px;
  height:380px;
  margin:0 auto;
}
.tuijie-top{
  width:1228px;
  height:30px;
  text-align:center;
  line-height:30px;
  margin-bottom:20px;
}
.tuijie-top1{
  float:left;
  font-size:22px;
  font-weight:200;
}
.tuijie-top2{
  width:34px;
  height:24px;
  border:1px solid #ccc;
  float:right;
}
.tuijie-top3{
  width:34px;
  height:24px;
  border:1px solid #ccc;
  float:right;
}
.tuijie-middle{
  width:1228px;
  height:300px;
}
.tt3{
  border-right:none;
}
.tuijie-middle li{
  text-align:center;
}
.tuijie-middle a{
  display:block;
}
.tuijie-middle1,.tuijie-middle2,.tuijie-middle3,.tuijie-middle4{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
  background:#fff;
}
.tuijie-middle1:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.tuijie-middle2:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.tuijie-middle3:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.tuijie-middle4:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.tuijie-middle5:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.tuijie-middle-top{
  font-size:14px;
  color:black;
  margin-top:30px;
}
.tuijie-middle-middle{
  margin-top:6px;
  margin-bottom:10px;
  color:#ff6700;
}
.tuijie-middle1{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  margin-right:15px;
}
.tuijie-middle5{
  width:233px;
  height:300px;
  float:left;
  text-align:center;
  background:#fff;
}
.tuijie-middle-bottom{color:#b0b0b0;}
/*******************************************************************************************/
.reping{
  width:100%;
  height:458px;
  background-color:#f5f5f5;
}
.reping-{
  width:1228px;
  height:458px;
  margin:0 auto;
}
.reping-top{
  width:1228px;
  height:30px;
  text-align:center;
  line-height:30px;
  margin-bottom:20px;
}
.reping-top1{
  float:left;
  font-size:22px;
  font-weight:200;
}
.reping-text{
  width:1228px;
  height:380px;
}
.rp-one{
  width:297px;
  height:380px;
  float:left;
  margin-right:13px;
  background-color:#fff;
}
.rp-one:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.rp-four:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
.rp-four{
  width:297px;
  height:380px;
  float:left;
  margin-left:1px;
  background-color:#fff;
}
.rpt{
  width:226px;
  height:98px;
  margin-left:30px;
  margin-top:30px;
}
.rp-text{
  font-size:14px;
  color:black;
}
.rp2{
  font-size:12px;
  color:#ccc;
  margin-top:10px;
  margin-bottom:22px;
}
.rp3{
  float:left;
  font-size:14px;
  color:black;
}
.rp4{
  float:left;
  margin-left:9px;
  margin-right:8px;
  color:#ccc;
}
.rp5{
  float:left;
  font-size:14px;
  color:#ff6700;
}
/*******************************************************************************************************/
.neirong{
  width:100%;
  height:500px;
  background-color:#f5f5f5;
}
.neirong-{
  width:1228px;
  height:464px;
  margin:0 auto;
  padding-top:36px;
}
.neirong-top{
  width:1228px;
  height:25px;
  font-size:22px;
  margin-bottom:18px;
  font-weight:200;
}
.neirong-center{
  width:1228px;
  height:420px;
}
.neirong-center li{
  width:296px;
  height:420px;
  float:left;
  background-color:#fff;
  margin-right:14.6px;
}
.neirong-center li:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
#neirong4{margin-right:0;}
.neirong1-top{
  width:194px;
  height:170px;
  text-align:center;
 margin-left:52px;
 margin-top:50px;
}
.tushu{
  margin-bottom:26px;
  font-size:16px;
  color:#ff6700;
}
.zhuti{
  margin-bottom:26px;
  font-size:16px;
  color:#7fc942;
}
.youxi{
  margin-bottom:26px;
  font-size:16px;
  color:#e8312d;
}
.yinyong{
  margin-bottom:26px;
  font-size:16px;
  color:#2196f3;
}
.neirong1{border-top:1px solid #ff6700;}
.neirong2{border-top:1px solid #7fc942;}
.neirong3{border-top:1px solid #e8312d;}
#neirong4{border-top:1px solid #2196f3;}
.qipa{
  margin-bottom:12px;
  font-size:20px;
}
.shuzi{
  margin-top:20px;
  margin-bottom:30px;
}
.shuzi1{
  margin-top:40px;
}
#shuzi{color:#191919;}
.neirong-middle{
  width:218px;
  height:160px;
  margin-left:39px;
}
.neirong-bottom{
  width:118px;
  height:14px;
  margin-left:89px;
  margin-top:10px;
}
.neirong-bottom a{
  width:5px;
  height:5px;
  border-radius:50%;
  border:1px solid #a9afb4;
  background:#8a9299;
  float:left;
  margin-left:25px;
  margin-top:3px;
}
#neirong-last{
  width:8px;
  height:8px;
  border-radius:50%;
  border:2px solid #ff6700;
  background:white;
  float:left;
}
#neirong-last{margin-left:0;}
.neirong-bottom a:hover{
  border:1px solid white;
  background-color:#ff6700;
}
/**************************************************************************************************************/
.shiping{
  width:100%;
  height:424px;
  background-color:#f5f5f5;
}
.shiping-{
  width:1228px;
  height:384px;
  margin:0 auto;
  padding-top:40px;
}
.shiping-top{
  width:1228px;
  height:25px;
  margin-bottom:18px;
  line-height:25px;
}
.shiping-top-left{
  font-size:22px;
  float:left;
  font-weight:200;
}
.shiping-top-right{
  float:right;
  font-size:14px;
  background-image:url(../image/more1.png);
  background-repeat:no-repeat;
  background-position:right;
}
.shiping-top-right:hover{
  background-image:url(../image/more2.png);
  background-repeat:no-repeat;
  background-position:right;
}
#shiping-top-right{
  margin-right:30px;
  color:#333333;
}
#shiping-top-right:hover{
  color:#ffac13;
}
.shiping-bottom{
  width:1228px;
  height:288px;
}
.shiping-bottom li{
  width:296px;
  height:288px;
  float:left;
  background-color:#fff;
  text-align:center;
  margin-right:12px;
  position:relative;
}
.shiping-bottom li:hover{box-shadow:0px 10px 30px rgba(0,0,0,0.2);margin-top:-5px;transition:all 0.1s linear;}
#shiping-last{
  width:304px;
  margin-right:0px;
}
.shiping-word1{
  margin-top:30px;
  margin-bottom:14px;
  font-size:14px;
}
.shiping-word2{color:#b2b0b0;}
#shiping-word1{color:#2f2f2f;}
#shiping-word1:hover{color:#ff6700;}
.shiping-picture1{
  position:absolute;
  width:34px;
  height:21px;
  top:147px;
  left:20px;
}
*top:*top:expression(eval(document.documentElement.scrollTop+200));
*html{background-image:url(blank:about);background-attachment:absolute;}
/*************************************************************************************************************/
.fuwu{
  width:100%;
  height:274px;
  background-color:#fff;
}
.fuwu-{
  width:1228px;
  height:274px;
  
  margin:0 auto;
}
.fuwu-top{
  width:1120px;
  height:80px;
  margin:0 auto;
}
#fuwu-top{margin-right:56px;}
.fuwu-left{
  width:850px;
  height:120px;
  float:left;
}
.fuwu-top li{
  float:left;
  font-size:16px;
  line-height:80px;
  margin-left:12px;
  
}
.top{
  color:#565557;
}
.top:hover{color:#ff9100;}
.one{
  width:58px;
  height:116px;
  float:left;
  margin-top:38px;
  margin-right:110px;
  
}
.three{
  width:100px;
  height:116px;
  float:left;
  margin-top:40px;
  margin-right:70px;
}
.bottom{
  color:#565557;
}
.bottom:hover{color:#ff9100;}
#one{margin-bottom:30px;font-size:14px;}
.two{margin-bottom:15px;}
.fuwu-right{
  width:200px;
  height:110px;
  float:right;
  text-align:center;
  margin-top:35px;
  border-left:1px solid #ccc;
}
.dianhua{
 display:block;
 width:122px;
 height:32px;
 border:1px solid #ff9100;
 text-align:center;
 line-height:32px;
 margin-left:40px;
 margin-top:18px;
 color:#ff9100;
 background:#ffffff;
}
.shuzi{
  margin-bottom:10px;
  font-size:20px;
  color:#ff9100;
}
.dianhua:hover{
  background:#ff9100;
  color:white;
}
.zong{
  width:1226px;
  height:198px;
  border-top:1px solid #ccc;
}
/*************************************************************************************************************/
.banque{
  width:100%;
  height:98px;
  background-color:#fafafa;
}
.banque-{
  width:1228px;
  height:98px;
  margin:0 auto;
}
.banque-word{
  width:900px;
  height:98px;
  float:left;
}
.logo{
  width:36px;
  height:36px;
  float:left;
  margin-top:31px;
  margin-right:10px;
}
.sz{
  width:700px;
  height:36px;
  float:left;
  margin-top:31px;
}
.shang{
  width:700px;
  height:16px;
}
.shang-word{color:#757575;}
.shang-word:hover{color:#ff6700;}
.banque-word p{
  float:left;
  margin-right:5px;
}
.banque-english{
  width:700px;
  height:16px;
  margin-top:5px;
  color:#b0b0b0;
}
.banque-english li{
   float:left;
}
.mi{
  margin-right:4px;
}
.mi:hover{color:#ff6700;}
.jing{
  margin-left:4px;
}
.jing:hover{color:#ff6700;}
.banque-right{
  width:328px;
  height:98px;
  float:right;
  text-align:right;
}
.tu{
  float:left;
  margin-top:6px;
}
.left{
  width:80px;
  height:30px;
  float:left;
  margin-left:20px;
  margin-top:34px;
}
.center{
  width:80px;
  height:30px;
  float:left;
  margin-left:20px;
  margin-top:34px;
}
.right{
  width:80px;
  height:30px;
  float:left;
  margin-left:20px;
  margin-top:34px;
}
.you{color:#757575;}